body {
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 80%;
    /*background-color:#aaccaa;*/
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0%;
}

.configFileHeader {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.configFile {
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    box-shadow: 1px 1px #d0d0d0, inset 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.configFile-true {
    background-color: #dddddd;
}

.configFile-false {
    background-color: #e3e3e3;
}

.overrideLevelHeader {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.overrideLevel {
    padding: 4px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    box-shadow: 1px 1px #d0d0d0, inset 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.overrideLevel-true {
    background-color: #eeeeee;
}

.overrideLevel-false {
    background-color: #f3f3f3;
}

.config-match-closed {
    background-image: 
    linear-gradient(
      90deg,
      #80FF40 10px,
      #f0f0f0 10px,
      #f0f0f0 11px,
      transparent 10px);
}
.config-difference-closed {
    background-image: 
    linear-gradient(
      90deg,
      #FFB040 10px,
      #f0f0f0 10px,
      #f0f0f0 11px,
      transparent 10px);
}
.config-absence-closed {
    background-image: 
    linear-gradient(
      90deg,
      #FF4040 10px,
      #f0f0f0 10px,
      #f0f0f0 11px,
      transparent 10px);
}

.tableContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    box-shadow: -1px -1px 1px #d0d0d0, 1px 1px 1px #ffffff;
}

table {
    width: 100%;
    font-weight: normal;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */

    padding: 3px;
}

.key {width: 20%; font-weight:bold; padding-left: 13px;}

.oddRow {background-color: #f4f4f4;}

.evenRow {background-color: #fefefe;}

.value-matching {
    background-image: 
    linear-gradient(
      90deg,
      #80FF40 10px,
      #f0f0f0 10px,
      #f0f0f0 11px,
      transparent 10px);
}
.value-difference {
    background-image: 
    linear-gradient(
      90deg,
      #FFB040 10px,
      #f0f0f0 10px,
      #f0f0f0 11px,
      transparent 10px);
}
.value-absence {
    background-image:
    linear-gradient(
      90deg,
      #FF4040 10px,
      #f0f0f0 10px,
      #f0f0f0 11px,
      transparent 10px);
}
.columns1 {width: 78%;}
.columns2 {width: 39%;}
.columns3 {width: 26%;}

