<!doctype html>
<html ng-app="configAuditViewer">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Configuration audit viewer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Configuration audit</title>
  
  <link rel="stylesheet" href="app.css">
</head>
<body>

<section>
  <header>
    <h1>Configuration audit</h1>
  </header>
  <article ng-controller="ConfigAuditController as configViewer">
    <input type="file" multiple file-model="files" /><span ng-hide="!configViewer.loading">Loading...</span>
    <span>{{configViewer.errorMessage}}</span>
    <ul>
      <li ng-repeat="configFile in configViewer.comparisonObject | orderBy:['relativePath', 'fileName']">
      <div class="configFile configFile-{{configFile.highlight}} config-{{configViewer.configFileColor(configFile)}}-{{configViewer.openOrClosed(configFile)}}">
        <div class="configFileHeader noSelect" ng-mouseover="configFile.highlight=true" ng-mouseleave="configFile.highlight=false" ng-click="configFile.show = !configFile.show">{{configFile.relativePath}}{{configFile.fileName}}</div>
        <ul ng-show="configFile.show">
          <li class="overrideLevel overrideLevel-{{overrideLevel.highlight}} config-{{configViewer.overrideLevelColor(overrideLevel)}}-{{configViewer.openOrClosed(overrideLevel)}}" ng-repeat="overrideLevel in configFile.overrideLevels">
            <div class="overrideLevelHeader noSelect" ng-mouseover="overrideLevel.highlight=true" ng-mouseleave="overrideLevel.highlight=false" ng-click="overrideLevel.show = !overrideLevel.show">{{overrideLevel.levelDescription}}</div ng-mouseover="overrideLevel.highlight">
              <div class="tableContainer" ng-hide="!overrideLevel.show" ng-show="overrideLevel.show"><table>
                <tr ng-class="{ evenRow: !($index % 2), oddRow: !!($index % 2) }" ng-repeat="keyValue in overrideLevel.keyValues | orderBy:'key'">
                  <td class="key value-{{configViewer.valueColor(keyValue)}}">{{keyValue.key}}</td>
                  <td ng-repeat="value in keyValue.valueInEnvironment track by $index">{{value}}</td>
                </tr>
              </table></div>
          </li>
        </ul>
        </div>
      </li>
    </ul>
  </article>
</section>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular/angular-animate.js"></script>  
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="app.js"></script>
</body>
</html>
